.home {
  min-height: 90vh;
}

.home h1 {
  padding-top: 20%;
  text-align: center;
  font-size: 7rem;
  letter-spacing: 1px;
  margin-bottom: 15px;
}

.home h2 {
  font-size: 3rem;
}

.img-container {
  display: block;
}

.img-container img {
  width: 100%;
  height: auto;
}